.fa-pencil {
    color:darkslategray;
}

.fa-check {
    color:darkslategray;
}

.fa-home {
    color:darkslategray;
}
.fa-times {
    color:darkslategray;
}

input{
    width:100%;
}
textarea
{
    width:100%;
}
