h1{
    font-family: "Droid Serif";
    font-weight: bold;
    color:darkslategrey;
}

.container {
    background-color: lightblue;
}

h3 {
    font-family: "Droid Serif";

    color:darkslategray;
}

ul{
    list-style-type: none;
}

.fa-plus-square{
    color: green;
    padding-right: 10px;
}

.fa-home {
    color:darkslategray;
}

.fa-shopping-basket {
    color:darkslategray;
}

