h1{
    font-family: "Droid Serif";
    font-weight: bold;
    color:darkslategrey;
}

.container {
    background-color: lightblue;
}

h3 {
    font-family: "Droid Serif";

    color:darkslategray;
}

